html
  head
    title DSS results
  body
    h1 DSS results
    p Result: #{result}
    p Signatures:
    ul
        for signature in signatures
            li
              | Subject: #{signature.subject}
              br
              | Signing time: #{signature.signingTime}
              if signature.location
                br
                | Location: #{signature.location}
              if signature.role
                br
                | Role: #{signature.role}
    form(action='./')
        input(type='submit', value='Back')
